<html>
<head>
	<title>Hello, world</title>
	<style>
		#theSandbox {

		}

		#theSandbox .instrument {
			width: 160px;
			height: 160px;
			background-size: 160px 160px;
			border-radius: 50%;
			display: inline-block;
			margin: auto;
		}

		.instrument .instrument-name {
			background: #000;
			color: #fff;
			padding: 4px;
			float: right;
			display: inline;
			width: 90px;
			margin: 140px 30px;
			text-align: center;
		}

		#trumpet {
			background:url("/ins-trumpet.png") no-repeat;
		}
		#flute {
			background:url("/ins-flute.png") no-repeat;
		}
		#violin {
			background:url("/ins-violin.png") no-repeat;
		}
		#kick {
			background:url("/ins-kickdrum.png") no-repeat;
		}
		#snare {
			background:url("/ins-snaredrum.png") no-repeat;
		}
		#hihat {
			background:url("/ins-hihatdrum.png") no-repeat;
		}
		#harp {
			background:url("/ins-harp.png") no-repeat;
		}
		#cello {
			background:url("/ins-cello.png") no-repeat;
		}
		#tuba {
			background:url("/ins-tuba.png") no-repeat;
		}
	</style>

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body>
<h1>Project Daniel</h1>
<h2>Sandbox2</h2>

<div id="theSandbox">
	<div class="ic1">
		<div class="instrument" id="trumpet">
			<span class="instrument-name">Trumpet</span>
		</div>
		<div class="instrument" id="flute">
			<span class="instrument-name">Flute</span>
		</div>
		<div class="instrument" id="violin">
			<span class="instrument-name">Violin</span>
		</div>
	</div>

	<div class="ic2">
		<div class="instrument" id="kick">
			<span class="instrument-name">Kick</span>
		</div>
		<div class="instrument" id="snare">
			<span class="instrument-name">Snare</span>
		</div>
		<div class="instrument" id="hihat">
			<span class="instrument-name">Hi-hat</span>
		</div>
	</div>

	<div class="ic3">
		<div class="instrument" id="harp">
			<span class="instrument-name">Harp</span>
		</div>
		<div class="instrument" id="cello">
			<span class="instrument-name">Cello</span>
		</div>
		<div class="instrument" id="tuba">
			<span class="instrument-name">Tuba</span>
		</div>
	</div>
</div>



</body>
</html>
